<h1>Log In</h1>

<div class='form'>
	<%= form_tag '/login' do %>
		<div class='form-element'>
			<span class='label'>Email:</span> <%= email_field_tag :email %>
		</div>
		<div class='form_element'>
			<span class='label'>Password:</span> <%= password_field_tag :password %>
		</div>
		<%= submit_tag 'Log In', class: 'submit'%>
	<% end %>
</div>