<h1><%= @user.name %></h1>
<div class='contact-info'>
	Phone: <%= @user.phone_number %>
	<br>
	Email: <%= @user.email %>
</div>
<hr>
<% if @user.homes.any? %>
	<div>
		<h2>Listings</h2>
		<% @user.homes.order(:sold).each do |home| %>
			<%= render 'homes/home', home: home %>
		<% end %>
	</div>
<% else %>
	<h3>This user has no homes listed</h3>
<% end %>

<hr>
